<template name="DAOGovernance">
  <head>
    <title>DeliverDAO - Govern the DAO</title>
  </head>
  <body>
    {{> Header}}
    
    <div class="govern">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>GOVERN</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h1>Turn up</h1>
            <p>When you design, you have to draw on your own fucking life experiences. If it’s not something you would want to read/look at/use then why fucking bother? Never let your guard down by thinking you’re fucking good enough. If you’re not being fucking honest with yourself how could you ever hope to communicate something meaningful to someone else?</p>
            <div class="vote">
              <div class="row">
                <div class="up">
                  <div class="col-md-1">
                    <a><img src="assets/uparrow.svg"></a>
                  </div>
                  <div id="rightpad" class="col-md-1 subpad">
                    <p>10</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <p>Created by Rohan Mishra</p>
                </div>
<!--
                <div class="col-md-1">
                  <a><img src="assets/downarrow.svg"></a>
                </div>
                <div class="col-md-1 subpad">
                  <p>20</p>
                </div>
-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!--
    <h1>DeliverDAO Governance Dashboard</h1>
    <p>Include user's reputation, current proposals, votes, etc</p>
    <p>This page eventually needs to hook into the local Ethereum client of the end user</p>
    <a href="/">Link to Home</a>
-->
  </body>
</template>
