<template name="DAOGovernance">
  <head>
    <title>DeliverDAO - Govern the DAO</title>
  </head>
  <body>
    {{> Header}}
    
    <div class="govern">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Proposals</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h1>Expand to Detriot</h1>
            <p>With a growing economy and a variety of upcoming startups and small buisnesses, shipping has quickly become a vital part of the Deriot job system. To capitalize on this market, it'd be beneficial for Deliver DAO to expand to Detriot - especially with the unexployment rate (10.2%, which is atleast 5% higher than the national average). By moving to Detriot, we gain the ability to levrage that market while also benefiting locals.</p>
            <div class="vote">
              <div class="row">
                <div class="up">
                  <div class="col-md-1">
                    <a><img src="assets/uparrow.svg"></a>
                  </div>
                  <div id="rightpad" class="col-md-1 subpad">
                    <p>0</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h2>Created by Duncan Brown</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1>Hire Rohan Mishra to Build a Mobile Application</h1>
            <p>Rohan Mishra is by far the best iOS dev in the country. Choosing anyone else to build the iOS version of our application would be a total bummer.</p>
            <div class="vote">
              <div class="row">
                <div class="up">
                  <div class="col-md-1">
                    <a><img src="assets/uparrow.svg"></a>
                  </div>
                  <div id="rightpad" class="col-md-1 subpad">
                    <p>4</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h2>Created by Rohan Mishra</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1>New Shipping Locker in DC</h1>
            <p>I just secured a spot in the White House. How the hell am I supposed to send orders to Mexico about the wall? FedEX doesn't want to touch me. Help me make America Great Again.</p>
            <div class="vote">
              <div class="row">
                <div class="up">
                  <div class="col-md-1">
                    <a><img src="assets/uparrow.svg"></a>
                  </div>
                  <div id="rightpad" class="col-md-1 subpad">
                    <p>23</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h2>Created by Donald Trump</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn">NEW PROPOSAL</button>
    </div>
    
<!--
    <h1>DeliverDAO Governance Dashboard</h1>
    <p>Include user's reputation, current proposals, votes, etc</p>
    <p>This page eventually needs to hook into the local Ethereum client of the end user</p>
    <a href="/">Link to Home</a>
-->
  </body>
</template>
