<head>
  <title>Deliver DAO</title>
</head>
<template name="Home">
  <body>
    <div class="home container-fluid">
      <div class="row">
        <div class="col-md-6">

          <div class="jumbotron">
            <h1>Deliver DAO</h1>
            <p>Lorem ipsum dolor sit amet</p>
          </div>

        </div>
        <div class="col-md-6">
          <img src="/assets/floatybox.svg">
        </div>
      </div>

      <a href="/send">Link to Send Page</a>
      <a href="/deliver">Link to Deliver Page</a>
      <button class="btn">SEND A PACKAGE</button>

    </div>
  </body>
</template>
