<template name="PackageDetail">
  <body>
    {{> Header}}
    <div class="package-detail">
      {{#with orderData}}
      <div class="container">
        <div class="row">
          <div id="details" class="col-md-3">
            <h1>Package ID</h1>
            <p>1</p>

            <h1>Shipper</h1>
            <p>{{order.shipper}}</p>

            <h1>Courier</h1>
            <p>{{order.courier}}</p>

            <h1>Origin</h1>
            <p>{{order.location}}</p>

            <h1>Destination</h1>
            <p>{{order.destination}}</p>

            <h1>Dimensions</h1>
            <p>{{order.dimension}} | {{order.weight}}kg</p>

            <h1>Reward</h1>
            <p>${{order.fee}}</p>
          </div>
          <div class="col-md-6">
            {{#if order.active}}
              <h1 class="log">Event Log</h1>
              <ul class="timeline">
                <li class="timeline_item" event-date="Today">
                  <p class="timeline_title">New Order Submitted</p>
                  <p class="timeline_content">You have submitted a new order ready to be delivered by someone.</p>
                </li>
              </ul>
            {{else}}
              <img width="600" src="http://maps.googleapis.com/maps/api/staticmap?center=St.+Louis&zoom=13&scale=1&size=600x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:A%7CForest+Park+Ave,+St.+Louis&markers=size:mid%7Ccolor:0xff0000%7Clabel:B%7C1+Bond+Ave,+St.+Louis" alt="Google Map of St. Louis">
            {{/if}}

          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button id="deliverPackage" type="button" class="btn" data-toggle="modal" data-target="#getDeposit">
        DELIVER PACKAGE
      </button>

      <!-- Modal -->
      <div class="modal fade" id="getDeposit" tabindex="-1" role="dialog" aria-labelledby="getDepositLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="getDepositLabel">Fulfill Order</h4>
            </div>
            <div class="modal-body">
              <h2>You do not have enough reputation. Because of that, you are required to pay the full value of the package as a security deposit. Once you have successfully delivered the package, you will receive this deposit back.</h2>
              <br />
              <h1>Deposit Amount: <strong>{{requiredDeposit order.address}} {{fromWei order.deposit}}</strong></h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button id="fulfillOrder" type="button" class="btn btn-primary" data-dismiss="modal">FULFILL ORDER</button>
            </div>
          </div>
        </div>
      </div>
      {{/with}}
    </div>
  </body>
</template>
