<template name="Send">
  <head>
    <title>DeliverDAO - Ship Package</title>
  </head>
  <body>
    {{> Header}}
    <div class="send">
      <form class="new-package">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-name" placeholder="Package name"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <textarea rows="4" cols="50" name="description" form="new-package" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-name" placeholder="Current Location"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-name" placeholder="Destination"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-value" placeholder="Value"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-weight" placeholder="Weight"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-weight" placeholder="Dimension"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <input type="text" name="package-value" placeholder="Fee"/>
            </div>
            <div class="col-md-2 col-md-offset-2">
              <input class="btn" type="submit" value="SHIP">
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</template>
