/* Applied to all */
@font-face {
  font-family: BrandonGrotesque;
  src: url(../fonts/Brandon_med.otf);
  font-weight: 100;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url(../fonts/Brandon_bld.otf);
  font-weight: 300;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url(../fonts/Brandon_blk.otf);
  font-weight: 700;
}

body {
  background-color: #FFCDB2;
  font-family: BrandonGrotesque;
  color: #000000;
}

/* Styles home.html */
.landing {
    nav {
      letter-spacing: 2px;
      font-weight: 300;

      margin-left: 225px;
      margin-top: 50px;

      ul li a {
        color: #000000;
      }

      ul li a:hover {
        font-size: 1.2em;
        text-decoration: none;
      }
    }

  #main {
    margin-top: 100px;

    h1 {
      font-size: 4em;
      margin-left: -4px;
    }

    p {
      margin-top: -40px;
      font-size: 1.2em;
      font-weight: 100;
    }

    img {
      width: 100%;
    }

    .btn {
        font-weight: 300;
        margin-top: 20px;
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        color: #FFCDB2;
        background: #000000;
        padding: 10px 27px 10px 27px;
        text-decoration: none;
        letter-spacing: 2;
        position: relative;
        margin-left: -200;
        margin-top: -20;
        font-family: BrandonGrotesque;
        font-weight: 300;
        transition: all 0.3s ease 0s;
    }

    .btn:hover {
        margin-top: 16px;
        text-decoration: none;
        color: #FFCDB2;
    }
  }
}


// Styles for _header.html
.header {
    height: 25%;
    background-color: #000000;
    color: #FFCDB2;
    font-family: BrandonGrotesque;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 5;

    h1 {
        text-align: center;
        margin-top: 0;
    }

    img {
        width: 4%;
        height: auto;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

.package-detail {

  margin-top: 40px;
  padding-bottom: -4px;
  margin-bottom: 40px;

  #details {

    background-color: #ffffff;
    border-right: 2px solid #000000;
    padding: 10px 20px 20px 20px;
    -webkit-border-top-left-radius: 4;
    -moz-border-top-left-radius: 4;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4;
    -moz-border-bottom-left-radius: 4;
    border-bottom-left-radius: 4px;
    margin-right: 40px;

    h1 {
      font-size: 1.5em;
    }

    p {
      margin-top: -15px;
      font-weight: 100;
    }
  }

  .btn {
      letter-spacing: 2px;
      -webkit-border-radius: 4;
      -moz-border-radius: 4;
      border-radius: 4px;
      color: #FFCDB2;
      background: #000000;
      padding: 10px 27px 10px 27px;
      text-decoration: none;
      letter-spacing: 2;
      position: relative;
      margin-top: -50px;
      margin-left: 1020px;
      font-family: BrandonGrotesque;
      font-weight: 300;
      transition: all 0.3s ease 0s;
    }

    .btn:hover {
        text-decoration: none;
        color: #FFCDB2;
    }
}

.send {
  padding-top: 20px;

  .new-package {
    font-family: BrandonGrotesque;

    input {
      width: 100%;
      height: auto;
      padding-bottom: 4px;
    }

    input[type=text] {
      border: none;
      border-bottom: 2px solid #000000;
      background-color: transparent;
      margin-top: 20px;
    }

    textarea {
      margin-top: 20px;
      width: 100%;
      background-color: transparent;
      border: 2px solid #000000;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #CDA48F;
    }

    textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #CDA48F;
    }

    .btn {
      letter-spacing: 2px;
      -webkit-border-radius: 4;
      -moz-border-radius: 4;
      border-radius: 4px;
      color: #FFCDB2;
      background: #000000;
      padding: 10px 27px 10px 27px;
      text-decoration: none;
      letter-spacing: 2;
      position: relative;
      margin-left: -200;
      margin-top: -20;
      font-family: BrandonGrotesque;
      font-weight: 300;
      transition: all 0.3s ease 0s;
    }

    .btn:hover {
        text-decoration: none;
        color: #FFCDB2;
    }
  }
}

/**
  *   Timeline
  **/

.timeline {
  width: 650px;
  margin: 25px auto;
  list-style: none;
  border-left: 4px solid #000;
  background-color: #fff;
  letter-spacing: 0.5px;
}

.timeline_item {
  border-bottom: 1px dashed #ccc;
  padding: 25px 0;
  margin-bottom: 50px;
  margin-left: 20px;
}

.timeline_item::before {
  content: attr(event-date);
}

.timeline_title {
  font-size: 26px;
  font-weight: 600;
}

.timeline_content {
  font-size: 16px;
}
